<div id="{{id}}" class="carousel slide" data-ride="carousel">
  {{#if indicators}}
    <ol class="carousel-indicators">
      {{#range slideCount}}
        <li data-target="{{../id}}" data-slide-to="{{@index}}" class="{{#unless @index}}active{{/unless}}"></li>
      {{/range}}
    </ol>
  {{/if}}
  <div class="carousel-inner">
    {{!-- Should contain app/partials/carousel-item containers --}}
    {{> @partial-block}}
  </div>
  {{#if control}}
    <a class="carousel-control-prev" href="#{{id}}" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#{{id}}" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  {{/if}}
</div>
