<div class="app-input-group {{#if icon}}app-input-icon{{/if}}">
  <input id="{{id}}"
    class="{{#if label}}float-label{{/if}} form-control {{#if autofocus}}label-adjusted{{/if}}"
    type="{{type}}"
    {{#if autofocus}}autofocus{{/if}}
    {{#if spellcheck}}spellcheck="true"{{else}}spellcheck="false"{{/if}}
    {{#if placeholder}}placeholder="{{placeholder}}">{{/if}}
  {{#if icon}}<i class="icon fa fa-{{icon}}"></i>{{/if}}
  {{#if label}}<label for="{{id}}">{{label}}</label>{{/if}}
</div>
